# Dependencies
node_modules/

client_secret*.json
.env

# Environment variables
.env
.env.local
.env.development.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Vite
.vite/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Temporary files
*.tmp
*.temp

# Cache
.cache/

# React Native / Expo (si tu en ajoutes plus tard)
.expo/
.expo-shared/

# Package managers
.pnpm-store/
.npm/

# Mac
.AppleDouble
.LSOverride

# Windows
Desktop.ini